
/node_modules
/discard
# next.js
/.next/
/out/
/package
copy-file.js
# production
# /build
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmignore
# env
# /resources/env.js
# api
# /pages/api